header {
    position: relative;
}

header button {
    all:unset;
    top: 0;
    right: 0;
    position: absolute;
    cursor: pointer;
}

header h1 {
    text-align: center;
    margin: 0;
    font-size: 2.5rem;
}

header h1 span {
    font-size: 1rem;
    vertical-align: top;
    display: inline-block;
    margin-top: 0.5rem;
}

h1.summary.expense {
    color: #c11;
}

h1.summary.income {
    color: #1c1;
}

form#transaction {
    margin-top: 2.5rem;
}

form#transaction input {
    width: 100%;
    padding: .25rem .5rem;
    border-radius: .25rem;
    font-size: 16px;
    line-height: 26px;
}

form#transaction input[type="datetime-local"] {
    color: #777;
}

form#transaction div.basic {
    display: flex;
    gap: .25rem;
    margin-bottom: .25rem;
}

form#transaction div.error {
    text-align: center;
    margin-top: 1.5rem;
    color: #c11;
}

form#transaction button {
    width: 100%;
    margin-top: .25rem;    
    border-radius: .25rem;
    padding: .5rem;
    background-color: #ddd;
}

div.transactions {
    margin-top: 1.5rem;
}

div.transactions.loading {
    text-align: center;
}

div.transaction {
    display:flex;
    justify-content: space-between;
    padding: .5rem 0;
    border-top: 1px solid #888;
}

div.transaction:nth-child(2) {
    border-top: 0;    
}

div.transaction div.name {
    font-size: 1rem;
}

div.transaction div.description {
    font-size: .8rem;
    color: #888;
}

div.transaction div.left {
    text-align: left;
    display: flex;
    gap: 1rem;
}

div.transaction div.left span.edit {
    color: rgb(175, 182, 74);
    cursor: pointer;
}

div.transaction div.left span.trash {
    color: #c11;
    cursor: pointer;
}

div.transaction div.right {
    text-align: right;
}

div.transaction div.price.expense {
    color: #c11;
}

div.transaction div.price.income {
    color: #1c1;
}

div.transaction div.right div.datetime {
    font-size: .8rem;
    color: #888;
}

div.transactions div.filters select {
    width: 100%;
    padding: 0.5rem;
    background-color: transparent;
    text-align: center;
    border-radius: 0.25rem;
}

div.transactions div.filters {
    margin-bottom: 1.5rem;
}