* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background: #eadede;
}

body, input, select, textarea, button, h1 {
    font-family: 'Poppins', sans-serif;
}

main {
    background: #fdfaf5;
    max-width: 536px;
    margin: 2.5rem auto;
    padding: 24px;
    border-radius: 8px;
}